

.les1
{
    background: darkgray;
    height: 500px;
    width: 700px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    border: 5px solid black;
    box-sizing: border-box;
    margin: 5px;
}
.pul1{

    height:100px;
    width: 100%;
    padding: 8px;
    border: 5px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;


}
.pul2{

    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
    border: 5px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;

}
.n3 {

    height: 98%;
    width: 80%;
    display: block;
    padding: 5px;
    border: 5px solid black;
    margin-right: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.n4{

    height: 98%;
    width: 20%;
    display: block;
    padding: 5px;
    border: 5px solid black;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
