.header {
    height: 100vh;
    background: url("hero image.png") no-repeat center/cover;
}

.wraper{

    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.htop{

    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{

    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 25px;

}
.nav_i a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}

.header_m{
    display: flex;
    align-items: center;


}
.photo_p{

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
padding-left: 20px;
    padding-right: 15px;
}
.header_k{

    display: flex;
}
.B1{


    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 157px;
    height: 47px;
    left: 1118px;
    top: 59px;
    background: #FF7400;
    margin-left: 22px;
    border: none;
    cursor: pointer;
}
.h_t{
    margin-top: 203px;
    display: block;
    justify-content: center;
}
.h_t h2{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 104px;
}
.h_t h1{

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 92px;
    color: #D67E35;
    margin-left: 150px;
}
.h_t p{

padding-left: 150px;
    font-style: normal;
    font-weight: normal;

    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF
}
.B2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 157px;
    height: 47px;
    left: 1118px;
    top: 59px;
    background: #FF7400;
    padding-left: 60px;
    border: none;
    cursor: pointer;
    margin-left: 70px;
}

.top1{
    position: absolute;
    width: 349px;
    height: 328px;
    left: 166px;
    top: 693px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.top2{
    position: absolute;
    width: 349px;
    height: 328px;
    left: 546px;
    top: 693px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.top3{
    position: absolute;
    width: 349px;
    height: 328px;
    left: 926px;
    top: 693px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    display: block;
    justify-content: center;
    text-align: center;
}